@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

#home, #about, #projects, #socials {
    padding-top: 120px;
}
body {
    @apply bg-slate-700;
    @apply text-gray-100;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    --tw-border-opacity: 1;
    background: rgb(20 184 166 / var(--tw-border-opacity));
    transform-origin: 0%;
}